@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #fff;
    padding: 1rem;
}

header, footer {
    text-align: center;
    margin: 2rem 0;
}

#bandas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #1e1e1e;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.card p {
  margin: 0.3rem 0;
}

.links a {
  margin-right: 10px;
  color: #1db954;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}